// Place all the styles related to the home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index.container{
  width: 100%;
  height: 100%;
  background: image_url('welcome.jpg') no-repeat center fixed;
  position: absolute;
  background-size: cover;
}